meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Principios básicos de la gramática
meta(meta name="description" content="Se abordan los conceptos básicos de comunicación y lenguaje, lengua y habla y el concepto básico de gramática; de igual manera, se estudian los fonemas de la lengua española, como unidades mínimas del habla, las grafías. En la sección dedicada a la morfosintaxis se presentan las normas para la correcta acentuación de las palabras; dando a conocer las clases de palabras o las ocho categorías gramaticales de la lengua española, junto con algunos de sus accidentes. Finalmente se estudia la oración simple como unidad mínima de sentido y su estructura sintáctica, es decir sujeto y predicado; núcleo del sujeto, núcleo del predicado, algunos complementos del verbo; y las clases de oraciones.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")