h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducci칩n', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Conceptos b치sicos', 'main.html#page/conceptos/')
                    +navTemaItem('2', 'Elementos b치sicos de morfosintaxis', 'main.html#page/elementos/')
                    +navTemaItem('3', 'Sem치ntica', 'main.html#page/semantica/')