.container#introduccion
    
    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 Introducción
                .row.justify-content-center.my-5
                    .col-10
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mYbVff2SyEU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                .row
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img1.png", style="max-width: 80%; margin-left: 8%; margin-bottom: -2%; z-index: 2; position: relative;").img-fluid
                    .col-12.bg-color1
                        p.mb-0 El propósito de esta formación es poner en contacto al aprendiz con el estudio de la estructura de la gramática de la lengua española, para que tenga la posibilidad de clarificar dudas sobre el uso correcto del idioma y pueda desarrollar procesos de comunicación eficaces y efectivos en situaciones de orden social, personal y productivo.
                        .row.mt-5
                            .col-12.text-right
                                img(src="assets/images/pages/ilustraciones/img2.png", style="max-width: 100%;").img-fluid
                .row.mt-5
                    .col-12
                        p #[b Los temas se presentan de forma sencilla y los ejemplos propuestos lo familiarizan con el uso de la lengua en contextos comunicativos específicos como son el de la vida personal y laboral.]
                        p Se abordan las disciplinas que hacen parte de gramática a saber; la fonología, la fonética, la morfología, la sintaxis y la semántica, iniciando con los conceptos de lenguaje, lengua y habla; se presentan los sonidos de la lengua, continuando con el estudio de las clases de palabras y sus accidentes hasta llegar a la oración y al concepto de signo lingüístico.