.container#semantica

    .jumbotron.bg-white.shadow.mt-6
        .row.justify-content-center
            .col-10
                .header-ecored.mt-0
                    h1 3. Semántica
                .row.align-items-center
                    .col-6
                        p.txt-deco20.text-right.mb-0 #[b Es otra ciencia auxiliar de la lingüística que estudia la significación; se ocupa de los significados de las palabras y de las oraciones.]
                        .hr5
                    .col-6.text-right
                        img(src="assets/images/pages/ilustraciones/img47.png", style="max-width: 80%;").img-fluid
                .row.mt-6.align-items-start
                    .col-8
                        p.txt-deco2 Signo lingüístico
                        p.txt-deco1 Los elementos que componen la lengua son los signos lingüísticos. Un signo lingüístico es una entidad psíquica que relaciona un concepto o significado con un #[b #[i significante]].
                    .col-4.text-right
                        img(src="assets/images/pages/ilustraciones/img50.png", style="max-width: 60%;").img-fluid
                p.txt-deco1.mt-4 #[b Ambos, significado y significante son síquicos] (están en la mente del hablante), porque están unidos en el cerebro por un vínculo de asociación. Esta unión es arbitraria (una especie de acuerdo entre los hablantes), ya que un concepto puede estar representado por diferentes sonidos, lo que trae como consecuencia el hecho de que un significado se exprese mediante diferentes significantes.
                .row.mt-6
                    .col-12
                        img(src="assets/images/pages/ilustraciones/img48.png", style="max-width: 80%; margin-left: 8%; margin-bottom: -2%; z-index: 2; position: relative;").img-fluid
                    .col-12.bg-color21
                        p.mb-0.txt-deco1 Se tiene el caso del concepto  que se nombra de varias maneras, como computador, PC, portátil, ordenador (sinónimos entre sí). #[b El significante] es de carácter lineal, porque sus fonemas se alinean unos tras otros formando una cadena: #[b /c/, /o/, /m/, /p/, /u/, /t/, /a/, /d/, /o/, /r/].
                .row.mt-5
                    .col-12.bg-color21
                        p.txt-deco1 En todos los signos se distingue una parte material, el significante y otra inmaterial, el significado; la palabra como signo lingüístico consta de estas dos partes; por ejemplo, la palabra casa consta de un significado formado por los fonemas (sonidos del habla) #[b /c/, /a/, /s/, /a/] y un significante que es la representación mental que cada individuo tiene de la palabra casa.
                        img(src="assets/images/pages/ilustraciones/img24.svg", style="max-width: 80%;").img-fluid.img-a
                        p.txt-deco1.mb-0 De estos elementos pertenecen a la lengua, el significante que está compuesto por la serie de sonidos en el habla (c-a-s-a), y el significado, o sea el concepto referido a una realidad o cosa.