.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Di Tulio, A. (2014). Manual de gramática del español. Ciudad Autónoma de Buenos Aires: Waldhuter.
                    td Pdf
                    td 
                        a(href="https://espa3295.weebly.com/uploads/1/5/4/0/15408852/di_tullio_2014_manual_de_gramatica_del_espanol.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Gómez, M., Zalba, E., Arenas, N., Farina, M., Párraga C., Gantus, V. (2005). Gramática para todos. Proyecto pedagógico con modalidad a distancia para terminalidad de estudios de EGB 3 y Educación Polimodal EDITEP.
                    td Pdf
                    td 
                        a(href="https://bdigital.uncu.edu.ar/objetos_digitales/1402/gramatica.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Macías, A., Vallejo, A., Cevallos, B., Castro, D., Vite, F., Solórzano, H., Santana, J., Piguave, j., Kou, j., Vera, J., Mora, K., Orellana, L., Peñafiel, M., Vásquez, M., Solórzano, S. (2019). Compendio de gramática española y apuntes sobre redacción.
                    td Pdf
                    td 
                        a(href="https://www.3ciencias.com/wp-content/uploads/2019/03/COMPENDIO-DE-GRAM%C3%81TICA-ESPA%C3%91OLA-Y-APUNTES-SOBRE-REDACCI%C3%93N-3.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Ministerio de Educación Nacional. (1998). Serie lineamientos curriculares. Lengua Castellana.
                    td Pdf
                    td 
                        a(href="https://www.mineducacion.gov.co/1621/articles-339975_recurso_6.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Real Academia Española. (2009). Nueva gramática de la lengua española.
                    td Pdf
                    td 
                        a(href="https://www.rae.es/sites/default/files/Sala_prensa_Dosier_Gramatica_2009.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar
                tr
                    td Real Academia Española. (2003). Gramática de la lengua castellana.
                    td Pdf
                    td 
                        a(href="https://www.biblioteca.org.ar/libros/89865.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> Descargar