include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Dabove, C., Dellarciprete, R., Escudier, M., Farías, M., Niemela, P., Teichmann, R., Tiberi, L.  (2006). Manual de Gramática.", "https://www.bba.unlp.edu.ar/uploads/docs/publicacionesbba_manualgramatica_piatti.pdf")

        +referenciaItem("Di Tulio, A. (2014). Manual de gramática del español. Ciudad Autónoma de Buenos Aires: Waldhuter.", "https://espa3295.weebly.com/uploads/1/5/4/0/15408852/di_tullio_2014_manual_de_gramatica_del_espanol.pdf")

        +referenciaItem("Gómez, M., Zalba, E., Arenas, N., Farina, M., Párraga C., Gantus, V. (2005). Gramática para todos. Proyecto pedagógico con modalidad a distancia para terminalidad de estudios de EGB 3 y Educación Polimodal EDITEP.", "https://bdigital.uncu.edu.ar/objetos_digitales/1402/gramatica.pdf")

        +referenciaItem("González, R., Menéndez, S., Miranda, R. (2006). Incidencia de la gramática tradicional, estructuralista y generativa en la enseñanza del lenguaje en el nivel de tercer ciclo de la escuela.", "http://ri.ues.edu.sv/id/eprint/13135/1/TESIS.pdf")

        +referenciaItem("Macías, A., Vallejo, A., Cevallos, B., Castro, D., Vite, F., Solórzano, H., Santana, J., Piguave, j., Kou, j., Vera, J., Mora, K., Orellana, L., Peñafiel, M., Vásquez, M., Solórzano, S. (2019). Compendio de gramática española y apuntes sobre redacción.", "https://www.3ciencias.com/wp-content/uploads/2019/03/COMPENDIO-DE-GRAM%C3%81TICA-ESPA%C3%91OLA-Y-APUNTES-SOBRE-REDACCI%C3%93N-3.pdf")

        +referenciaItem("Ministerio de Educación Nacional. (1998). Serie lineamientos curriculares. Lengua Castellana.", "https://www.mineducacion.gov.co/1621/articles-339975_recurso_6.pdf")

        +referenciaItem("Real Academia Española. (2003). Gramática de la lengua castellana.", "https://www.biblioteca.org.ar/libros/89865.pdf")

        +referenciaItem("Real Academia Española. (2009). Nueva gramática de la lengua española.", "https://www.rae.es/sites/default/files/Sala_prensa_Dosier_Gramatica_2009.pdf")

        +referenciaItem("Real Académica Española. (2020). Interjección. En el diccionario de la lengua española.", "https://dle.rae.es/interjecci%C3%B3n")
        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            