include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Habilidades cognitivas en lecto-escritura
        meta(meta name="description" content="Ruta de aprendizaje programa Habilidades cognitivas en lecto-escritura.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Habilidades cognitivas en lecto-escritura
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.curso-descripcion
                                        li 
                                            span #[strong Nombre del programa:] Habilidades cognitivas en lecto-escritura
                                        li 
                                            span #[strong Código:] 52130000
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] es requisito que el aspirante sepa leer.

                 

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/mdltPr5qZio', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Bienvenido al programa Habilidades cognitivas en lecto-escritura que le permitirá adquirir conocimientos para comprender textos, desarrollar el pensamiento crítico, mejorar la memoria, transportarse a otros mundos, crear historias, escribir lo que piensa o necesita comunicar de manera asertiva.

                p El programa se propone como competencia esencial, desarrollar procesos de comunicación eficaces y efectivos, teniendo en cuenta situaciones de orden social, personal y productivo. 

                p Como resultado del aprendizaje el aprendiz desarrollará la capacidad de utilizar las normas gramaticales de la lengua española en función de la comunicación y producción de sentido, de acuerdo con las necesidades del entorno. En segundo lugar, interpretar textos de nivel de complejidad media a partir de las normas y técnicas de lectura. Finalmente, usar la tipología textual en la construcción de un escrito según requerimientos técnicos y del entorno. El curso está diseñado a partir de tres componentes formativos, es decir, principios básicos de la gramática, la comprensión lectora y, la interpretación y producción de textos. 

                p Algunas actividades de aprendizaje consisten en reconocer las normas básicas de la gramática, identificar las clases de palabras y sus accidentes gramaticales; identificar la estructura de la oración y las características de un texto; diferenciar los tipos de textos, reconocer aspectos que hacen parte de la lectura comprensiva, igualmente, utilizar diferentes tipos de textos en la vida personal y laboral, y realizar documentos escritos como informes y ensayos.

                p Los criterios de evaluación se basan en el uso de las normas gramaticales y de puntuación con base en las reglas establecidas por la RAE, la organización de las oraciones según las normas de la sintaxis, la identificación de ideas principales y secundarias en un párrafo de acuerdo con su estructura, la producción de diferentes tipos de textos acorde con la estructura del párrafo, la realización de informes y ensayos siguiendo las normas de elaboración de estos, entre otros criterios.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El SENA presenta el curso denominado “Habilidades cognitivas en lecto-escritura” que pertenece al Modelo de Orientación Vocacional y Ocupacional -MVO- de la entidad y está diseñado para complementar los conocimientos básicos de la lengua española con respecto a los principales aspectos semánticos, lexicales, gramaticales y ortográficos; así como instruir a los aprendices o evidenciar la habilidad que tienen para poner por escrito de manera clara, correcta y coherente todo aquello que necesitan expresar; adiestrar y ejercitar a los aprendices en la lectura comprensiva e interpretativa; proporcionar elementos conceptuales y actividades prácticas que les permita el desarrollo de competencias, habilidades y destrezas mentales imprescindibles para el desarrollo laboral. 

                p En Colombia se ha planteado el desarrollo de competencias comunicativas esenciales para la vida como leer, escribir o elaborar discursos orales coherentes. Pero la realidad demuestra que en educación se sigue haciendo énfasis en acciones centradas en las reglas gramaticales y ortográficas que, aunque son importantes, se apropian con la práctica más que memorizándolas, y se continua con la transmisión de informaciones insustanciales como las fórmulas, los accidentes geográficos o las fechas históricas, que nadie podría transferir a la vida cotidiana en pleno Siglo XXI. 

                p Resultado de lo anterior, es la crítica a la educación que nos mantiene en los puestos más bajos del ranking de comprensión lectora, lo que indudablemente afecta la escritura, de aquí́ parte la propuesta de diseñar un programa que evalúe conocimientos en los que se evidencie el desarrollo de habilidades cognitivas, pues ayudan a que los procesos mentales se amplíen y sean aplicables en cualquier entorno, especialmente en nuestro caso, el laboral.  Cuando nos enfrentamos al mundo laboral el dilema no cambia, se encuentran dificultades para elaborar documentos; problemas para leer textos con cierto rigor; mensajes, correos con errores ortográficos y de redacción, por ello, el presente curso para el desarrollo de habilidades en los procesos de lecto-escritura se ha diseñado teniendo en cuenta la importancia de volver a lo básico (Platón en el diálogo de las leyes explica la necesidad de reflexionar y de seleccionar los contenidos, de anteponer la profundidad a la extensión, demostrando con ello una gran agudeza pedagógica), y brindar herramientas para pensar, convivir, interpretar, leer y escribir, desarrollando habilidades de pensamiento crítico. 

                p El curso permite apropiar herramientas de comprensión, análisis, inferencia, propias de las habilidades cognitivas, propende el uso de la gramática y la sintaxis que permiten la utilización del metalenguaje en la comprensión de textos y en la expresión de ideas verbales y escritas en diversidad de contextos, temas y realidades, razón por la que va dirigido a aspirantes de programas tecnólogos y de especialización tecnológica del SENA. 

                p Está diseñado con un enfoque diferencial porque cada temática y, los componentes evaluativos se encuentran elaborados para garantizar que las personas con características particulares por su edad, género, orientación sexual o creencias de cualquier tipo cuenten con un espacio de libre desarrollo, toda vez que habrá actividades evaluativas, foros y demás espacios donde pueden compartir su progreso y sus productos escriturales sin ningún tipo de condicionamiento, juzgamiento o prejuicio, permitiendo evidenciar el reconocimiento de las vulnerabilidades, riesgos e inequidades que afrontan estas personas o grupos (Bienestar Familiar, s.f.)

                p El respeto por el otro es fundamental en la formación integral de cualquier ser humano, no solo se pretende generar o transmitir un “cúmulo de conocimientos”, se deben desarrollar armónica y coherentemente todas y cada una de las dimensiones del ser humano: ética, cognitiva y comunicativa, con el fin de lograr una realización plena en la sociedad (Universidad Católica)

                p Por último, el SENA ha diseñado sus estrategias pedagógicas basadas en el Decreto 1421 del 2017 “por el cual se reglamenta en el marco de la educación inclusiva la atención educativa a la población con discapacidad”, así se logra la inserción de recursos mediados por las TIC que atiendan a esta población y que sean procesos pertinentes con sus características.





        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Todas las personas interesadas en mejorar sus habilidades de lectura y escritura.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la educación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportada en el utilización de las Tecnologías de la Información y la Comunicación (TIC), integradas en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





